@font-face {
    font-family: "Roboto1";
    src: url(/Users/suleymanismaylov/VSCode/Training/Roboto/Roboto-Black.ttf) format("opentype");
    ;
}

header {
    background-color: #1f2937;
    color: antiquewhite;
    display: flex;
    justify-content: space-between;
}

.logo {}

.links {
    color: antiquewhite;
}