/*
fonts
*/

@font-face {
    font-family: "Roboto";
    src: url(Fonts/Roboto/Roboto-Regular.ttf) format("opentype");
    ;
}

@font-face {
    font-family: "Roboto_bold";
    src: url(Fonts/Roboto/Roboto-Bold.ttf) format("opentype");
    ;
}


/*
header-css
*/

.upper_part {
    background-color: #1f2937;
    color: white;
    font-family: 'Roboto', sans-serif;
    font-weight: lighter;
    color: #E5E7EB;
}

header {
    display: flex;
    justify-content: space-between;
    max-width: 800px;
    margin: 0 auto;
    font-size: 1.2rem;
}


/*
css-start
*/

img {
    max-width: 100%;
}

.row {
    display: flex;
    justify-content: space-between;
    max-width: 800px;
    margin: 0 auto;
    padding: 50px;
}

.left_part {
    max-width: 50%;
}

body .left_part h1 {
    font-size: 3rem;
    font-weight: bold;
    font-family: 'Roboto-Bold', sans-serif;
    color: #F9FAF8;
}

.right_part {
    max-width: 100%;
}


/*
button-css
*/

.btn {
    display: inline-block;
    text-decoration: none;
    text-transform: uppercase;
    color: #1f2937;
    font-weight: bold;
    background-color: #3882F6;
    padding: .75em 2em;
    border-radius: 100px;
}

.btn:hover,
.btn:focus {
    opacity: .75;
}